<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" >Tag package sources</h5>
    </div>
    <div class="modal-body">

      <input [(ngModel)]="tagMessage" class="form-control" [ngClass]="{'is-invalid': errMessage}" id="tagDescription" aria-describedby="TagDescriptionHelp" placeholder="Enter description of new tag">

      <ngb-alert type="danger" (close)="isError=false" *ngIf="isError">
        Failed to tag sources. {{errorMsg}}
      </ngb-alert>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="_activeModal.close('Cancel')">Cancel</button>
        <button type="button" [disabled]="((tagMessage==1)||isBusy)" (click)="tagPackage()" class="btn btn-primary">Tag package<spinner [show]="isBusy" [size]="20"></spinner></button>
      </div>
    </div>
  </div>


