<div class="media">
  <img class="d-flex mr-3"  style="width: 64px" src="assets/Lazarus-icons-lpr-proposal-bpsoftware.png" alt="Lazarus Logo (Leopard)">
  <div class="media-body">
    <h4 class="mt-0">About the Fppkg Repository Server</h4>
    <p>Fppkg is the package system from Free Pascal. One of it's features is the
    ability to install packages from a central repository.<br />
    The goal of this website is to manage such a central repository.</p>

    <p>The sources of this site are available at https://svn.freepascal.org/svn/fpcprojects/fppkgreposerver/trunk.</p>
  </div>
</div>