<div class="media">
  <img class="d-flex mr-3"  style="width: 64px" src="assets/Lazarus-icons-lpr-proposal-bpsoftware.png" alt="Lazarus Logo (Leopard)">
  <div class="media-body">
    <h5 class="mt-0">About the Fppkg Repository Server</h5>
    <p>Fppkg is the package system from Free Pascal. One of the features is the
    ability to install packages from a central repository.
    The goal of this application is to create a web-based system to manage such
    a central repository. Which may lead to a central database of available
    Free Pascal packages.</p>

    <p>At this moment it is only possible to test-build fppkg packages.</p>

    <p>The idea is to build the server using separate components, working together.
    Docker is used for the isolation of the build-agens and to ease the
    deployment.</p>

    <p>More info:
      <a href="readme.html">General</a>
      <a href="buildagent_readme.html">Buildagent</a>
      <a href="webclient_readme.html">Webclient</a>
      <a href="identityserver_readme.html">IdentityServer</a>
    </p>
  </div>
</div>