<div class="card">
    <div class="card-header">
        Linux, x86_64
    </div>
    <div class="card-body">
      <h4 class="card-title">Test-build packages</h4>
      <p class="card-text">Select and upload a FPMake-source package so it will be build on one of the build-machines.</p>

      <input type="file" #file (change)="onChange(file.files)"/>

      <button type="button" [disabled]="((!((files)&&(files.length==1)))||isBusy)" (click)="uploadPackage()" class="btn btn-primary">Build package <spinner [show]="isBusy" [size]="20"></spinner></button>
      <ngb-alert type="danger" (close)="isError=false" *ngIf="isError">
        Failed to build package. {{errorMsg}}
      </ngb-alert>

      <div *ngIf="buildAgentResponse" class="pt-3 pb-3">
        <app-view-dcsresponse
          [dcsResponse]="buildAgentResponse">
        </app-view-dcsresponse>
      </div>

    </div>
</div>

