<app-add-package id="addPackageModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></app-add-package>

<div class="media">
  <img class="d-flex mr-3"  style="width: 64px" src="assets/Lazarus-icons-lpr-proposal-bpsoftware.png" alt="Lazarus Logo (Leopard)">
  <div class="media-body">
    <h5 class="mt-0">Free Pascal Package Repository</h5>
    <p>
    This is the <a href="https://www.freepascal.org">Free Pascal</a> packages repository. An overview
    of all packages can be find below. Please login to add, modify or build packages.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h5 class="float-left">Package list</h5>

    <app-fpc-version-select-box class="float-right"></app-fpc-version-select-box>

    <form class="form">
      <div class="col-mb-2 col-sm-2">
      <input type="text" #searchBox (input)="search(searchBox.value)" class="form-control" placeholder="search">
      </div>
    </form>

  </div>
  <div class="card-body">
    <p class="card-text">A complete list of all packages</p>
    <p class="card-text">
      <app-package-list [packageList]="filteredPackageList" [fpcversion]="selectedVersion"></app-package-list>
    </p>
    <p class="card-text" *ngIf="mayAddPackage">
      <button type="button" class="btn btn-primary" (click)="open()">
        Add package
      </button>
    </p>

  </div>
</div>

