<app-add-package id="addPackageModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></app-add-package>

<div class="card">
  <div class="card-header">
    <h5 class="float-left">Package list</h5>
    <div *ngIf="selectedVersion" ngbDropdown class="dropdown float-right">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
        FPC {{selectedVersion.name}}
      </button>
      <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" *ngFor="let version of fpcVersionList" ngbDropdownItem  (click)="onSelect(version)" type="button">Fpc {{version.name}}</button>
      </div>
    </div>

    <form class="form">
      <div class="col-mb-2 col-sm-2">
      <input type="text" #searchBox (input)="search(searchBox.value)" class="form-control" placeholder="search">
      </div>
    </form>

  </div>
  <div class="card-body">
    <p class="card-text">A complete list of all packages</p>
    <p class="card-text">
      <app-package-list [packageList]="filteredPackageList" [fpcversion]="selectedVersion"></app-package-list>
    </p>
    <p class="card-text">
      <button type="button" class="btn btn-primary" (click)="open()">
        Add package
      </button>
    </p>

  </div>
</div>

