<app-tag-package id="tagPackageModal" [package]="currentPackage" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></app-tag-package>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let logLine of packageLog">
    {{logLine.authordate|date:"M/d/yy HH:mm:ss"}}: {{logLine.description}}
    <span class="badge badge-primary" *ngIf="((logLine.tags) && (logLine.tags!='initial'))">{{logLine.version}} Release</span>
    <button class="btn btn-primary float-right" (click)="requestBuild(logLine.hash)">Request build</button>
    <button *ngIf="mayEditPackage && (currentPackage.packagestate != 'acceptance') && (logLine.allowTag)" class="btn btn-primary float-right" (click)="showTagDialog(logLine.hash)" title="Create version {{logLine.version}} based on these uploaded sources">Tag</button>
  </li>
</ul>
