<div class="card">
  <div class="card-header">
    <h5 class="float-left">Category list</h5>
  </div>
  <div class="card-body">
    <p class="card-text">A complete list of all categories</p>
    <ul class="list-group">
      <li *ngFor="let category of categoryList" class="list-group-item d-flex justify-content-between align-items-center">

        <app-editable-component appEditableOnEnter (update)="updateField(category)">
          <ng-template appViewMode>{{category.name}}</ng-template>
          <ng-template appEditMode>
            <input [(ngModel)]="category.name" focusable>
          </ng-template>
        </app-editable-component>

        <span class="badge badge-primary badge-pill">{{category.id}}</span>
      </li>
      <li *ngIf="newCategory" class="list-group-item d-flex justify-content-between align-items-center">
        <app-editable-component appEditableOnStart appEditableOnEnter (update)="saveNewCategory()">
          <ng-template appViewMode>{{newCategory.name}}</ng-template>
          <ng-template appEditMode>
            <input [(ngModel)]="newCategory.name" focusable>
          </ng-template>
        </app-editable-component>
        <span class="badge badge-primary badge-pill">new</span>
      </li>
    </ul>
    <p class="card-text">
      <button type="button" (click)="addCategory()" class="btn btn-primary">
        Add Category
      </button>
    </p>

  </div>
</div>