<div *ngIf="selectedVersion" ngbDropdown class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
    FPC {{selectedVersion.name}}
  </button>
  <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" *ngFor="let version of fpcVersionList" ngbDropdownItem  (click)="onSelect(version)" type="button">Fpc {{version.name}}</button>
  </div>
</div>
