<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">Home</a>

  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarCollapse" [attr.aria-expanded]="!isNavbarCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="!isNavbarCollapsed" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isAuthorized">
        <a class="nav-link" routerLink="/build">Build</a>
      </li>
      <li ngbDropdown class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" ngbDropdownToggle>Admin</a>
        <div ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/admin">Rebuild</a>
          <a class="dropdown-item" routerLink="/categories">Categories</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/documentation">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>

    <ul class="navbar-nav mt-2 mt-md-0">
        <li class="nav-item mr-sm-2">
          <a class="nav-link" (click)="login()" *ngIf="!isAuthorized">Login</a>
          <a class="nav-link" (click)="logout()" *ngIf="isAuthorized">Logout</a>
        </li>
      </ul>

  </div>
</nav>

