<app-upload-package id="uploadPackageModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></app-upload-package>
<app-tag-package id="tagPackageModal" [package]="currentPackage" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></app-tag-package>

<div class="card" *ngIf="(currentPackage)">
  <div class="card-header">
    <h5 class="text-primary float-left">{{currentPackage.name}}</h5>
    <app-fpc-version-select-box class="float-right"></app-fpc-version-select-box>
    <button *ngIf="mayEditPackage" class="btn btn-primary float-right" (click)="showUploadSourceDialog()">Upload source</button>
    <button class="btn btn-primary float-right" *ngIf="isAdmin && (currentPackage.packagestate=='acceptance')" (click)="approvePackage()">Approve</button>
    <button *ngIf="(mayEditPackage) && (currentPackage.packagestate != 'acceptance') && (commitListChild.latestUploadIsTaggeable)" class="btn btn-primary float-right" (click)="showTagDialog(fpcversion)" title="Create a new version based on the latest uploaded sources">Tag latest upload</button>
  </div>
  <div class="card-body">
    <p class="mb-1 font-italic" *ngIf="currentPackage.packagestate!='published'"><span class="text-muted">State: </span>{{currentPackage.packagestate}}</p>

    <p *ngIf="currentPackage.category || mayEditPackage" class="mb-1"><span class="text-muted">Category:</span>
      <app-editable-component [allowEdit]="mayEditPackage" appEditableOnEnter (update)="patchPackageCategory()">
        <ng-template appViewMode>{{currentPackage.category}}</ng-template>
        <ng-template appEditMode>
          <select [(ngModel)]="currentPackage.categoryid">
            <option *ngFor="let category of categoryList" value="{{category.categoryid}}">{{category.name}}</option>
          </select>
        </ng-template>
      </app-editable-component>
    </p>

    <p *ngIf="currentPackage.keywords" class="mb-1"><span class="text-muted">Keywords:</span> {{currentPackage.keywords}}</p>
    <p *ngIf="currentPackage.support || isAdmin" class="mb-1"><span class="text-muted">Support:</span>
      <app-editable-component [allowEdit]="isAdmin"  appEditableOnEnter (update)="patchSupportCategory()">
        <ng-template appViewMode>{{currentPackage.support}}</ng-template>
        <ng-template appEditMode>
          <input [(ngModel)]="currentPackage.support" />
        </ng-template>
      </app-editable-component>
    </p>

    <div class="accordion" id="packageInfo">
      <div class="card">
        <div class="card-header" id="versionInfoHeader">
          <h2 class="mb-0">
            <button (click)="isVersionCollapsed = !isVersionCollapsed" class="btn btn-link" type="button" [attr.aria-expanded]="!isVersionCollapsed" aria-controls="versionInfoCollapse">
              Version information
            </button>
          </h2>
        </div>
        <div id="versionInfoCollapse" [ngbCollapse]="isVersionCollapsed" class="collapse show" aria-labelledby="versionInfoHeader" data-parent="#packageInfo">
          <div class="card-body">
            <nav *ngIf="selectedVersion" aria-label="Package version navigation">
              <ul class="pagination">
                <li class="page-item" [ngClass]="{'disabled':!previousTag}">
                  <a *ngIf="previousTag" class="page-link" routerLink="/package/{{currentPackage.name}}/{{previousTag}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                  <span *ngIf="!previousTag" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </span>
                </li>
                <li *ngFor="let version of packageVersionList" [ngClass]="{'active':version.tag==selectedVersion.tag}" class="page-item"><a routerLink="/package/{{currentPackage.name}}/{{version.tag}}" class="page-link">v{{version.version | version}}</a></li>
                <li class="page-item" [ngClass]="{'disabled':!nextTag}">
                  <a *ngIf="nextTag" class="page-link" routerLink="/package/{{currentPackage.name}}/{{nextTag}}" aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                  <span *ngIf="!nextTag" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </span>
                </li>
              </ul>
            </nav>

            <app-package-version *ngIf="selectedVersion" [mayEditPackage]="mayEditPackage" [package]="currentPackage" (packageUpdated)="updatePackage()" [packageVersion]="selectedVersion" [packageVersionList]="packageVersionList"></app-package-version>

            <div *ngIf="(!selectedVersion)">
              <p *ngIf="(selectedFPCVersion)">This package is not available for FPC-version {{selectedFPCVersion.name}}.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="uploadInfoHeader">
          <h2 class="mb-0">
            <button (click)="isUploadsCollapsed = !isUploadsCollapsed" class="btn btn-link" type="button" [attr.aria-expanded]="!isUploadsCollapsed" aria-controls="uploadInfoCollapse">
              Upload history
            </button>
          </h2>
        </div>
        <div id="uploadInfoCollapse" [ngbCollapse]="isUploadsCollapsed" class="collapse show" aria-labelledby="uploadInfoHeader" data-parent="#packageInfo">
          <div class="card-body">
            <app-package-commit-list #commitListChild [mayEditPackage]="mayEditPackage" (packageUpdated)="updatePackage()" [package]="currentPackage"></app-package-commit-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>