<div class="card" *ngIf="(buildTask)">
  <div class="card-header">
    {{buildTask.packagename}} {{buildTask.tag}} ({{buildTask.state}})
  </div>
  <div class="card-body">
    <h5 class="card-title">Buildtask</h5>
    {{buildTask.errormessage}}

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Sub-tasks</h6>
        <div class="media text-muted pt-3" *ngFor="let subtask of buildTask.subtasks" >
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">{{subtask.buildagent}} <span *ngIf="subtask.sourcebuild">- build of source archive -</span> ({{subtask.state}}) </strong>
            {{subtask.log}}
          </p>
        </div>

    </div>


    <p class="card-text"></p>
    <button class="btn btn-primary" (click)="refresh()">Refresh</button>
  </div>
</div>