<div class="media text-muted pt-3"  >
  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <strong class="d-block text-gray-dark">FPC version {{packageVersion.fpcversion}} - {{packageVersion.tag}}</strong>
    {{packageVersion.author}}
  </p>
  <span *ngIf="(package.packagestate!='acceptance')">
    <span *ngFor="let repository of repositoryList">
      <button *ngIf="((packageVersion.tag!='initial') && (!(publishedVersionPerRepositoryMap[repository.name])))" class="btn" (click)="publishTag(repository, packageVersion.tag)">publish to {{repository.name}}</button>
      <span *ngIf="(packageVersion.tag==publishedVersionPerRepositoryMap[repository.name])">Published in {{repository.name}}</span>
      <button *ngIf="((packageVersion.tag!='initial') && (packageVersion.tag!=publishedVersionPerRepositoryMap[repository.name]) && (publishedVersionPerRepositoryMap[repository.name]))" class="btn" (click)="updateTag(repository, packageVersion.tag)">Update {{repository.name}}</button>
    </span>
  </span>
  <button class="btn btn-primary" (click)="requestBuild(packageVersion.tag)">Request build</button>
</div>
